.dark {
    --vp-c-bg: hsl(154 70% 2% / 1);
    --vp-c-bg-alt: #16191b;
    --vp-c-bg-elv: #111413;
    --vp-c-bg-soft: hsl(154, 10%, 8%);
}

.green-bg {
    --vp-c-bg: #bfffde;
    --vp-c-bg-elv: #abedca;
}

.dark.green-bg {
    --vp-c-bg: #091e13;
    --vp-c-bg-elv: #10322c;
}

:root {
    --vp-c-brand-1: var(--vp-c-green-1);
    --vp-c-brand-2: var(--vp-c-green-2);
    --vp-c-brand-3: var(--vp-c-green-3);
    --vp-c-brand-soft: var(--vp-c-green-soft);
}

:root {
    --vp-home-hero-name-color: transparent;
    --vp-home-hero-name-background: -webkit-linear-gradient(120deg, var(--vp-c-brand-1), var(--vp-c-brand-3));
    --vp-home-hero-image-background-image: linear-gradient(-45deg, var(--vp-c-brand-1) 50%, var(--vp-c-neutral) 50%);
    --vp-home-hero-image-filter: blur(100px);
}
